<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Home page <%=4+5+1%></h1>
    <h2>hmoe<%='helloo world'.toUpperCase()%></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim praesentium dolore facilis vitae quia ad illo
        quisquam! Nostrum enim culpa laboriosam eaque! Ea, ab. Nemo quaerat beatae sint eius minus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla possimus? Ad, placeat possimus,
        similique ipsum numquam officiis qui, aut harum laudantium rerum voluptate natus. Aut similique ab quidem
        facilis.</p>

</body>

</html>